*{
    margin: 0;
}

.container {
    display: flex;
}

.ShirtVariant {
    display: flex;
}

.textSyle {
    display: flex;
}

.image {
    width: 230px;
    height: 220px;
    margin-top: 50px;
}


.btn {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
}

.shirtVariant {
    position: relative;
    display: inline-block; /* Or use 'block' if you want it to span the full width */
  }

  .heading {
    text-align: center;
  }

  .text-head {
    margin-bottom: 10px;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    padding: 10px;
    z-index: 1;
}

  .text p {
    font-size: 16px;
    margin-top: 10px;
  }

  .textArea {
    padding-top: 15px;
    text-align: center
  }

  .textArea input {
    height: 30px;
    width: 260px;
  }

  .fontSize {
    display: flex;
  }

  .image-btn {
    padding-top: 20px;
  }

  .size-title {
    margin-top: 20px;
  }

  .fontDisplay {
    margin-top: 20px;
    padding-left: 10px;
  }